# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
package-lock.json
__pycache__

# Enviroment variables
env.yml

# Serverless directories
.serverless

# package directories
node_modules
jspm_packages

# temporary testing files
temp_files

# Serverless directories
.serverless

# vscode files
.vscode

# txt files
.txt